.statsContainer {
  width: 80%;
  margin-left: 10%;
  margin-top: 200px;
}

.diagram {
  height: 50%;
}

.statsContainer {
  .mat-card {
    margin-top: 25px;
    margin-bottom: 100px;
    transition: all 0.3s linear;
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;

  }

  .stat {
    margin-top: 5px !important;
    margin-top: 5px !important;
  }

  .stat:hover {
    transform: scale(1.04);
    box-shadow: 10px 10px 50px 0px rgba(53, 68, 155, 0.527);
  }

  .formWon {
    width: 50px;
    height: 50px;
    background-color: #78c000;
    border-radius: 100%;
    text-align: center;
    color: white;
    padding-top: 12.5px;
    box-sizing: border-box;

  }

  .formLoss {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 87, 34);
    border-radius: 100%;
    text-align: center;
    color: white;
    padding-top: 12.5px;
    box-sizing: border-box;

  }

  .form {
    display: flex;

    flex-direction: row;
    width: 50%;
    min-width: 250px;
    margin: auto;
    justify-content: space-around;
    margin: auto;


  }

  .results {
    display: flex;
    flex-direction: row;
    width: 80%;
    min-width: 250px;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;

    .circle {
      width: 300px;
    }

    .stats {
      padding-top: 50px;
      width: 300px;
    }
  }

  .playedMatch {
    margin-top: 15px;
    margin-bottom: 15px;

    .matchContainer {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      .result {
        width: 20%;
      }

      .oponent {
        min-width: 65px;
        width: 20%;
      }


      table {
        margin-top: 20px;
        width: 20%;
        min-width: 150px;

        tr {

          td {
            padding: 4px;
            // border: black 2px solid;
            // border-collapse: collapse;
          }
        }
      }
    }


  }
}

@media screen and (max-width: 700px) {
  .mat-card {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;

    .stat {
      width: 98%;
      margin-left: 1%;
      margin-right: 1%;
      box-sizing: border-box;

      .matchContainer {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        box-sizing: border-box;

      }
    }

  }

}
