<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Registreer</mat-card-title>

    <div>
      <mat-card-subtitle>Algemeen</mat-card-subtitle>
      <div class="RegistreerFormRij">
        <div class="item ">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">person</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Voornaam" type="text" formControlName="firstName" />
              <mat-error *ngIf="
                  user.get('firstName').errors && user.get('firstName').touched
                ">
                {{ getErrorMessage(user.get('firstName')['errors']) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">people</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Familienaaam" type="text" formControlName="familyName" />
              <mat-error *ngIf="
                  user.get('familyName').errors &&
                  user.get('familyName').touched
                ">
                {{ getErrorMessage(user.get('familyName')['errors']) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">date_range</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input [max]="maxDate" matInput [matDatepicker]="picker" placeholder="Geboortedatum"
                formControlName="dateOfBirth" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="
                  user.get('dateOfBirth').errors &&
                  user.get('dateOfBirth').touched
                ">
                {{ getErrorMessage(user.get('dateOfBirth')['errors']) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">looks_5</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Waarde klassement" type="number" formControlName="tennisVlaanderenScore" />
              <mat-error *ngIf="
                  user.get('tennisVlaanderenScore').errors &&
                  user.get('tennisVlaanderenScore').touched
                ">
                {{
                  getErrorMessage(user.get('tennisVlaanderenScore')['errors'])
                }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <br />
      <mat-card-subtitle>Wachtwoord</mat-card-subtitle>
      <br />

      <button (click)="showPasswordRules($event)" mat-flat-button class="showRules">
        bekijk wachtwoord regels
      </button>

      <div class="RegistreerFormRij" formGroupName="passwordGroup">
        <div class="item itemTwoOneRow">

          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Wachtwoord" type="password" formControlName="password" />
              <mat-error *ngIf="
                user.get('passwordGroup').get('password').errors &&
                user.get('passwordGroup').get('password').touched
              ">
                {{
                getErrorMessage(
                  user.get('passwordGroup').get('password').errors
                )
              }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="item itemTwoOneRow">
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Bevestig Wachtwoord" type="password"
                formControlName="passwordConfirmation" />
              <mat-error *ngIf="
                user.get('passwordGroup').get('passwordConfirmation').errors &&
                user.get('passwordGroup').get('passwordConfirmation').touched">
                {{
                getErrorMessage(
                  user.get('passwordGroup').get('passwordConfirmation').errors
                )
              }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <mat-error class="wwErrors" *ngIf="
              user.get('passwordGroup').errors &&
              user.get('passwordGroup').get('passwordConfirmation').touched &&
              user.get('passwordGroup').get('password').touched
            ">
          {{ getErrorMessage(user.get('passwordGroup').errors) }}
        </mat-error>
      </div>

      <br />
      <mat-card-subtitle>Contactgegevens</mat-card-subtitle>
      <br />

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">phone</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="GSM-nummer" type="text" formControlName="phone" />
              <mat-error *ngIf="user.get('phone').errors && user.get('phone').touched">
                {{ getErrorMessage(user.get('phone')['errors']) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">email</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Email adres" type="email" formControlName="email" />
              <mat-error *ngIf="user.get('email').errors && user.get('email').touched">
                {{ getErrorMessage(user.get('email')['errors']) }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">face</mat-icon>
          </div>
          <div class="input">
            <mat-radio-group name="geslacht" formControlName="gender">
              <mat-radio-button value="man" color="primary" class="genderbutton">Man</mat-radio-button>
              <mat-radio-button value="vrouw" color="primary" class="genderbutton">Vrouw</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <button mat-flat-button color="primary" class="submit">
        Bevestig
      </button>
    </div>
  </mat-card>
</form>