<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Registreer</mat-card-title>

    <div class="Registreer">
      <mat-card-subtitle>Algemeen</mat-card-subtitle>
      <div class="RegistreerFormRij">
        <div class="item itemTwoOneRow">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">person</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Voornaam" type="text" formControlName="firstName">
            </mat-form-field>
          </div>
        </div>
        <div class="item itemTwoOneRow">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">people</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Familienaaam" type="text" formControlName="familyName">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">date_range</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Geboortedatum" formControlName="dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">looks_5</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Waarde klassement" type="number" formControlName="tennisVlaanderenScore" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <br>
      <mat-card-subtitle>Wachtwoord</mat-card-subtitle>
      <br>

      <div class="RegistreerFormRij" formGroupName="passwordGroup">
        <div class="item itemTwoOneRow">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">vpn_key</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Wachtwoord" type="password" formControlName="password" />
            </mat-form-field>
          </div>
        </div>

        <div class="item itemTwoOneRow">
          <div class=" ico">
            <mat-icon aria-hidden="false" aria-label="naam">vpn_key</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Bevestig Wachtwoord" type="password"
                formControlName="passwordConfirmation" />
            </mat-form-field>
          </div>
        </div>
      </div>


      <br>
      <mat-card-subtitle>Contactgegevens</mat-card-subtitle>
      <br>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">phone</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="GSM-nummer" type="text" formControlName="phone" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">email</mat-icon>
          </div>
          <div class="input">
            <mat-form-field>
              <input matInput placeholder="Email adres" type="email" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="RegistreerFormRij">
        <div class="item">
          <div class="ico">
            <mat-icon aria-hidden="false" aria-label="naam">face</mat-icon>
          </div>
          <div class="input">
            <mat-radio-group name="geslacht" formControlName="gender">
              <mat-radio-button value="man" color="primary">Man</mat-radio-button>
              <mat-radio-button value="vrouw" color="primary">Vrouw</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <button mat-flat-button color="primary">
        Bevestig
      </button>
    </div>


  </mat-card>

</form>
