.title {
  width: 100%;
  text-align: center;

  p {
    font-size: 2em;
  }
}


.playedMatch {
  margin-top: 15px;
  margin-bottom: 15px;

  .matchContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;

    .players {
      width: 30%;
      box-sizing: border-box;
    }


    table {
      width: 30%;
      box-sizing: border-box;

      tr {
        td {
          padding: 4px;
          // border: black 2px solid;
          // border-collapse: collapse;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {


  .playedMatch {
    .matchContainer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
