@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  /* background-image: url(./assets/courtLigh.jpg); */
  /* background: linear-gradient(15deg, #5870cb 5%, rgba(0, 0, 0, 0) 1%), linear-gradient(15deg, white 85%, #5870cb 2%);*/
  background-image: linear-gradient(to top, #092969 0%, #acbcdb 100%, #6f95e0 100%, #a2b6df 100%);
  /* background-image:  linear-gradient(#ffffff, transparent, #ffffff), url(./assets/courtLigh.jpg); */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
