@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  font-family: 'Roboto Mono', monospace;
  background: linear-gradient(70deg, #5870cb 20%, rgba(0, 0, 0, 0) 1%),
    linear-gradient(20deg, white 85%, #5870cb 2%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Mono', monospace !important;
}
