<div class="title">
  <p>Persoonlijke match geschiedenis</p>
</div>



<div *ngIf="matches; else loading">
  <div *ngFor="let match of matches" data-cy="personal">
    <mat-card class="playedMatch">
      <mat-card-content class="matchContainer">
        <div class="result">
          <div *ngIf="currentUser.userId == match.winnerId" data-cy="won" class="formWon">
            G
          </div>
          <div *ngIf="currentUser.userId == match.loserId" data-cy="lost" class="formLoss">
            V
          </div>
        </div>

        <div class="oponent">
          <div *ngIf="currentUser.userId == match.winnerId">
            {{match.loserFullName}}
          </div>
          <div *ngIf="currentUser.userId == match.loserId">
            {{match.winnerFullName}}
          </div>
        </div>

        <table>
          <tr>
            <td>{{match.winnerFullName}}</td>
            <td>{{match.winnerSet1}}</td>
            <td>{{match.winnerSet2}}</td>
            <td>{{match.winnerSet3}}</td>
          </tr>
          <tr>
            <td>{{match.loserFullName}}</td>
            <td>{{match.loserSet1}}</td>
            <td>{{match.loserSet2}}</td>
            <td>{{match.loserSet3}}</td>
          </tr>
        </table>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <br><br><br><br><br>
  <app-formal-loading></app-formal-loading>
</ng-template>
