.form {
  width: 80%;
  margin-left: 10%;
  margin-top: 200px;

}



mat-form-field {
  width: 100%;
}

.RegistreerFormRij {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 100%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  padding-left: 25px;
}

.ico {
  padding-top: 20px;

  min-width: 50px;
}

.input {
  width: 90%;
  box-sizing: border-box;
  min-width: 200px;
}



/* 
blauw: #3f51b5
lichtblauw: 
 */
